*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #a6a6a6;
}
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
   
    height: 800px;
    margin: 20px 300px;
    border: 3px solid black;   
}
.titulo{
    font-size: 50px;
    margin-top: 110px;
}
.subtitulo{
    margin-top: 100px;
    font-size: 40px;
}
.subtitulos{
    margin-top: 50px;
    font-size: 34px;
}
.botao,#botao,#btnunico,#casinha{
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    font-size: 40px;
}
#botao{
    font-size: 90px !important;
}
.btns,.btns2,.regra{
    margin-top: 120px;
}
#single{
    margin-right: 90px;
}
.fa.fa-book,.fa.fa-home{
    margin-right: 750px;
}
.submitegeral,p11{
    font-size: 30px;
    margin-top: 10px;
}
#singleleft{
    margin-left: 90px;
}
.p11,#btnunico{
    margin-top: 20px !important;
}
#btnunico{
    margin-right: 1000px;
    font-size: 50px;
}
.vezplayer{
    font-size: 40px;
    justify-items:left; 
}
.p12{
    margin-top: 100px;
    margin-right: 40px;
    font: 50px;
}
#casinha{
margin-top: 20px;
margin-right: 1000px;
}
.button{
    width: 90px;
    height: 90px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/*.button:hover{
    box-shadow: 0 12px 16px 0 rgba(255, 0, 0, 0.24), 0 17px 50px 0 rgba(255, 0, 0, 0.19);
  }*/
.organizarbotoes{
    margin-top: 100px;
}
#btn3,#btn13{
    margin-right: 400px;
}
